<h1>Stories</h1>
<div class="row">
  <% if (stories.length > 0) { %>
  <% stories.forEach(element => { %>
  <div class="col s-12 m-4">
    <div class="card">
      <div class="card-image">
        <%# todo: edit icon %>
      </div>
      <div class="card-content center-align">
        <h5><%= element.title %></h5>
        <p><%= element.body %></p>
        <br>
        <div class="chip">
          <img src="<%= user.image %>" alt="">
          <a href="/user/<%= user.id %>"></a>
        </div>
      </div>
      <div class="card-action center-align">
        <a href="/stories/<%= element._id %>" class="btn grey">Read more</a>

      </div>
    </div>
  </div>
  <% }) %>
  <% } else { %>
  <p>No stories to display.</p>

  <% } %>
</div>